

<!DOCTYPE html>
<html>
<title>iSTATS</title>
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url('static/imgs/lol.png.jpg');
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
    </div>
    <div class="w3-col s3">
      <a href="#menu" class="w3-button w3-block w3-black">GET STARTED</a>
    </div>
    <div class="w3-col s3">
      <a href="#where" class="w3-button w3-block w3-black">CONTACT</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag">Published on 12th march'20</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span style="color:	#FFD700;font-size:90px">iSTATS<br>
        <span style="color:	#f0efe9;font-size:50px">A place for Data analytics</span>
  </div>
  
    
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div style="background-image: url('static/imgs/marble.jpg');" class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE iSTATS</span></h5>
    <p>This website allow dimensionality reduction which refers to techniques that reduce the number of input variables
         in a dataset. More input features often make a predictive modeling task more 
         challenging to model, more generally referred to as the curse of dimensionality.</p>
    <p>Techniques offered by <strong>iSTATS</strong>
    <ol>
        <li>Isomap</li>
        <li>Sparse Random Projection</li>
        <li>Gaussian Random Projection</li>
        <li>Multi Dimension Scaling</li>
        <li>Isomap</li>
        <li>T-sne</li>
       
    </ol>
    
    </p>
    <div  class="w3-panel w3-leftbar w3-light-grey">
      <p><i>The happiness of your life depends upon the quality of your thoughts: therefore, 
          guard accordingly, and take care that you entertain no notions unsuitable to 
          virtue and reasonable nature.</i></p>
      <p>:Marcus Aurelius</p>
    </div>
    <br>
   
  </div>
</div>
<div style="background-image: url('static/imgs/lol.png.jpg');" class="w3-container" id="menu">
    <div  class="container card" style="color: white; background-color: black;"><center><h2>Visualization of high dimensional data</h2></center></div>
    {%block content%}
    {%endblock%}
    <br>
    <br>
  </div>

<div class="w3-container" id="where" style="background-image: url('static/imgs/marble.jpg'); padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">CONTACT US</span></h5>
    <p><strong>PROBLEM!!</strong> We are here to help</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="email" placeholder="valid email address" ></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Subject" ></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text-area" placeholder="Message" required name="Message"></p>
      <p><button class="w3-button w3-black" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>
</div>

<!-- End page content -->


<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Copyrights.(2020)@allrightsreserved<a  title="iSTATS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>


</body>
</html>
